body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: black;
    color:limegreen;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: limegreen;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.left {
    float: left;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: black;
    color: limegreen;
}